* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url('/assets/images/banner-bk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 60px 120px 60px 120px;
}

header h4 {
    font-weight: lighter;
    font-size: 1.1em;
}

header p {
    margin-top: 50px;
    width: 65%;
    font-size: larger;
    font-weight: lighter;
}

header h1 {
    line-height: 1;
    margin-top: 50px;
    font-size: 4.5em;
}

.button {
    width: 150px;
    margin-top: 40px;
    border-radius: 30px;
    padding: 12px 20px 12px 20px;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.alinear1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;


}

.logo {
    width: 80px;
}

#button1 {
    background-color: #00ffae;
    color: #192440;
}

/* info*/

.info {
    background: linear-gradient(168deg, white 55%, #00ffae 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 100px 30px 80px;
    color: #282a2b;
    text-align: center;
}



.info h2 {
    font-size: 2.7em;
}

.smart-protect-all {
    display: flex;
    flex-direction: row;
}

.smart-protect {
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.smart-protect-all p {
    font-weight: normal;
}

.features p {
    font-weight: normal;
}

.smart-protect h3 {
    font-size: 1.5em;

}

#button2 {
    background-color: #192440;
    color: white;
}

/* Features */

.features {
    margin: 150px 50px 50px 0px;
    display: flex;

}

.features-info {
    margin: 0px 40px;
}

.features-info p {
    margin-top: 20px;
}

aside img {
    width: 500px;
}

/* Pricing */
.title-pricing h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: #282a2b;
    margin-top: 80px;
}


.pricing {
    color: #282a2b;
}

.pricing h3 {
    font-size: 1.5em;
    font-weight: 500;
}

.box-pricing {
    display: flex;
    justify-content: center;

}

.box-pricing span {
    font-size: 5em;

}

.box-pricing span,
p {
    font-weight: bold;
}

.box-pricing div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 450px;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.box-pricing div li {
    list-style: none;
    margin: 10px 0px 10px 0px;
}


.box-2 {
    background-color: #192440;
    color: white;
    border-radius: 5px;
}




.button-pricing {
    width: 120px;
    margin-top: 40px;
    border-radius: 30px;
    padding: 12px 20px 12px 20px;
    border: none;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid #192440;
    color: #192440;
}


/* Clients */

.clients {
    display: grid;
    background-color: #edeff0;
    grid-template-columns: repeat(6, auto);
    justify-content: space-evenly;
    padding: 50px;
}



/* Contact */

.contac {
    background-image: url('/assets/images/contact-bk.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
}

.info-contact {
    width: 40%;
    
}

.contac div h2 {
    font-size: 2.5em;
}

.contac p {
    margin: 20px 0px 20px 0px;
    font-weight: normal;
}


.contac li {
    list-style: none;
    margin-top: 10px;
}


form {
    width: auto;
    color: #00ffae;
}

.input_group {
    width: auto;
    display: flex;
    justify-content: space-between;
}

label {
    margin-bottom: 10px;
}

.input_wrapper {
    width: calc(50% - 10px);
}

form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    background: none;
    border: 1px solid #00ffae;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 20px;
    background-color: #00ffae;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input[type="submit"]:hover {
    background-color: #01c989;
    transform: translateY(-2px);
}

form input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.menssage {
    display: flex;
    flex-direction: column;
}

textarea {
    background: none;
    border-color: #00ffae;
    border-radius: 5px;
}



/* Footer */

footer {
    display: flex;
    padding: 30px 0;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #192440;
}

footer p {
    font-weight: normal;
}


footer div img {
    width: 50px;
}





@media (max-width: 921px) {
    .info {
        background: linear-gradient(168deg, white 60%, #00ffae 0);
    }

    /* Features */
    .features {
        margin: 150px 50px 50px 0px;
    }

    .features-info {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .features-info h2 {
        font-size: 2.5em;
    }

    .features-info p {
        margin-top: 10px;
    }

    .img-feature {
        display: flex;
        align-items: flex-end;
    }

    .img-feature img {
        width: 300px;
    }

    /* Contact */

    .info-contact {
        width: 30%;
        
    }
    .contac {
        padding: 100px 25px;
    }
    


    .contac div h2 {
        font-size: 2.3em;
    }
}


@media (max-width: 769px) {
    header {
        padding: 60px 50px;
    }

    header h1 {
        font-size: 3.5em;
    }

    .info {
        background: linear-gradient(165deg, white 57%, #00ffae 0);
    }

    .info h2 {
        font-size: 2.3em;
    }

    .features {
        padding: 0;
        margin: 150px 0 100px 0;
    }

    .clients {
        grid-template-columns: repeat(3, auto);
        padding: 30px;
    }



}


@media (max-width: 481px) {

    header {
        padding: 40px 30px;
    }

    .alinear1 h4 {
        font-size: 0.9em;
    }

    .alinear1 img {
        width: 50px;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    .info {
        padding: 40px 30px;
        background: linear-gradient(168deg, white 68%, #00ffae 0);
        text-align: center;

    }

    .info h2 {
        font-size: 2em;
    }

    .smart-protect-all {
        flex-wrap: wrap;
    }

    .smart-protect h3 {
        font-size: 1.3em;
    }

    .smart-protect p {
        font-size: 1em;
    }


    /* Features */
    .features {
        margin: 100px 0px;
        flex-direction: column;
        align-items: center;

    }

    .features-info {
        margin: 0;
        align-items: center;
    }


    .features-info h2 {
        font-size: 2em;
    }



    .features-info p {
        font-size: 0.8em;
        margin-top: 10px;
    }

    .img-feature {
        display: flex;
        align-items: center
    }

    .img-feature img {
        margin-top: 20px;
        width: 200px;
    }

    .button {
        width: 120px;
        padding: 12px 20px;
        font-size: 0.8em;
    }

    #button2 {
        margin-top: 20px;
    }


    .clients {
        grid-template-columns: repeat(3, auto);
    }

    .clients img {
        width: 100px;
    }

    /* Pricing */
    .title-pricing h2 {
        font-size: 2.5em;
    }


    .pricing h3 {
        font-size: 2em;
    }



    .box-pricing span {
        font-size: 3em;

    }

    .box-pricing {
        align-items: center;
        flex-direction: column;
    }

    .box-pricing div {
        width: 80vw;
        height: 80vh;
        gap: 30px;
    }

    .box-pricing div li {
        font-size: 1em;
    }


    .button-pricing {
        width: 120px;
        padding: 15px 20px;
    }



    /* Contact */
    .contac {
        flex-direction: column;
        padding: 80px 30px;
        gap: 40px;
    }

    .info-contact {
        width: 100%;
    }

    .contac div h2 {
        font-size: 2em;
    }

    .contac div p,
    li {
        font-size: 0.9em;
    }


    /* Footer */



    footer p {
        font-size: 0.8em;
    }


    footer div img {
        width: 40px;
    }
}




@media (max-width: 352px) {

    header {
        padding: 30px 20px;
    }

    .alinear1 h4 {
        font-size: 0.8em;
    }

    .alinear1 img {
        width: 40px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header p {
        margin-top: 10px;
        font-size: 0.9em;
    }

    .button {
        width: 100px;
        margin-top: 20px;
        padding: 10px 10px;
        font-size: 0.9em;
    }


    .info {
        margin: 20px 0;
        text-align: center;
        padding: 30px 0px;
        background: linear-gradient(165deg, white 67%, #00ffae 0);
    }

    .info h2 {
        font-size: 2em;
    }



    .smart-protect {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .smart-protect img {
        padding: 0;
        margin: 10px 0;
        width: 150px;
    }

    .smart-protect-all p {
        font-size: 1em;
    }

    .smart-protect h3 {
        font-size: 1.5em;

    }

    .features {
        text-align: center;
        padding: 0 10px;
        margin: 50px 0;
    }

    .features p {
        font-size: 1em;
    }

    .features-info {
        align-items: center;
    }

    .features-info h2 {
        font-size: 2em;
    }


    /* Pricing */
    .title-pricing h2 {
        font-size: 2em;
    }


    .pricing h3 {
        font-size: 1.5em;
    }



    .box-pricing span {
        font-size: 3em;

    }

    .box-pricing {
        align-items: center;
        flex-direction: column;
    }

    .box-pricing div {
        width: 70vw;
        height: 80vh;
        margin: 30px 0;
    }

    .box-pricing div li {
        font-size: 0.8em;
    }


    .button-pricing {
        width: 100px;
        padding: 10px 15px;
    }

    .clients {
        grid-template-columns: repeat(3, auto);
    }

    .clients img {
        width: 80px;
    }


    /* Footer */


    footer{
        flex-direction: column;
    }
    footer p {
        font-size: 0.7em;
    }


    footer div img {
        width: 30px;
    }
}